/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--text-font-weight);
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 102px;
}

/* header */

.header {
  font-family: var(--extra-font-family);
  text-align: center;
  border: 2px solid var(--border);
  background: var(--background);
  margin: 0 auto 100px auto;
  padding: 134px 0 24px 0;
  width: min(698px, 99%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width <= 375px) {
  .header {
    padding: 120px 0 24px;
  }
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin: 20px 0 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-size: 14px;
  margin-left: 19px;
}

.theme-menu__button {
  background: none;
  border: none;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
  position: relative;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: 0.3s ease;
  opacity: 0.6;
  position: absolute;
  bottom: -2px;
  left: 0;
}

.theme-menu__button:focus-visible::before {
  width: 100%;
}

.theme-menu__button:hover {
  cursor: pointer;
}

.theme-menu__button:hover,
.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "▶";
  position: absolute;
  left: -18px;
  animation: play 0.5s infinite ease-in-out;
  color: transparent;
}

.theme-menu__button:disabled::after {
  color: var(--text-color);
}

@keyframes play {
  0% {
    left: -18px;
  }
  50% {
    left: -14px;
  }
  100% {
    left: -18px;
  }
}

/* main */

.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  margin: 0;
}

@media (width <= 375px) {
  .section {
    margin: 0;
  }
}

.card {
  border: 2px solid var(--border);
  background: var(--background);
  width: min(698px, 99%);
  margin: 0 auto 52px auto;
}

.card__title {
  font-variation-settings: var(--title-font-weight);
  font-size: 18px;
  font-family: var(--main-font-family);
  padding: 4px 10px;
}

@media (width <= 375px) {
  .card__title {
  padding: 3px 8px;
  }
}

.card__image-container {
  border-top: 2px solid var(--border);
  border-bottom: 2px solid var(--border);
  overflow: hidden;
  position: relative;
}

.image-lable {
  font-family: var(--extra-font-family);
  font-size: 14px;
  background-blend-mode: hard-light;
  opacity: 50%;
  position: absolute;
  top: 29px;
  right: 22px;
  z-index: 1;
  text-shadow: -1px 0 var(--lable-border), 0 1px var(--lable-border), 1px 0 var(--lable-border), 0 -1px var(--lable-border);
}
@supports((text-stroke: 1px var(--lable-border)) or (-webkit-text-stroke: 1px var(--lable-border))) {
  .image-lable {
      -webkit-text-stroke: 1px var(--lable-border);
      text-stroke: 1px var(--lable-border);
      text-shadow: none;
  }
} 

@media (width <= 375px) {
  .image-lable {
    top: 26px;
    right: 10px;
  }
}

.card__image {
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (width <= 375px) {
  .card__image {
    width: 100%;
  }
}

.card__text-container {
  font-size: 18px;
  padding: 22px 23px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media (width <= 375px) {
  .card__text-container {
    padding: 26px 24px;
    margin-top: 2px;
  }
}

.card__text {
  font-family: var(--main-font-family);
  color: var(--text-color);
}

.card__like-button-container {
  display: inherit;
  justify-content: end;
  align-items: center;
  gap: 6px;
  flex-direction: row;
}

.card__icon-button {
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  width: 39px;
  height: 36px;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--border);
}

.card__like-button {
  width: 130px;
  padding: 10px 0;
  background: transparent;
}

.button__text {
  font-family: var(--extra-font-family);
  font-size: 14px;
  color: var(--difference);
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
  padding: 15px 20px;
  margin: 0 auto;
  min-width: 335px;
  max-height: 55px;
  cursor: pointer;
  position: relative;
  border: 2px solid var(--border);
  transition: 0.5s;
  line-height: 90%;
  
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    min-width: 306px;
    max-height: 84px;
    padding: 15px 0;
    justify-content: space-between;
  }
}

.save-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--text-color);
  transition: 0.5s ease-in-out;
}

.dialog[open] {
  font-family: var(--extra-font-family);
  font-size: 14px;
  padding: 30px;
  border: 2px solid var(--border);
  background: var(--background);
  width: 357px;
  text-transform: uppercase;
  opacity: 0.6;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 26px;
}

.floppy-image {
  width: 21px;
  height: 21px;
  stroke: var(--svg-color);
  margin-right: 8px;
  mix-blend-mode: difference;
  z-index: 1;
}

@media (width <= 375px) {
  .floppy-image {
    width: 40px;
    height: 40px;
    margin-bottom: 9px;
    margin-left: 8px;
  }
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.dialog__floppy-image {
  stroke: var(--text-color);
  width: 90px;
  height: 40px;
}

.dialog__button {
  width: 293px;
  height: 38px;
  text-transform: uppercase;
  background: var(--background);
}

.button {
  font-family: var(--extra-font-family);
  font-size: 14px;
  position: relative;
  border: 2px solid var(--border);
  cursor: pointer;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  color: var(--difference);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.ok-button {
  text-transform: uppercase;
  background: var(--background);
  width: 257px;
  height: 38px;
}

.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.saturate {
  filter: saturate(360%);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(20px);
}

.multi-filter {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

.like-icon {
  width: inherit;
  height: inherit;
  background-color: transparent;
  fill: var(--text-color);
  position: relative;
  z-index: 1;
}

.like-icon.is-liked {
  animation: expand 0.3s ease-in 0.1s alternate;
}

@keyframes expand {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.like-icon .main-body {
  fill: var(--background);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s linear 0.05s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks__animation 0.3s ease-in 0.3s alternate;
}

@keyframes sparks__animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.like-icon .core {
  fill: var(--background);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.05s;
}

.footer {
  margin-bottom: 103px;
}